CONFIG_LOCALVERSION="-hi3798mv100"
# CONFIG_LOCALVERSION_AUTO is not set

CONFIG_ARCH_HISI=y
CONFIG_SMP=y
CONFIG_MCPM=y
CONFIG_NR_CPUS=4
CONFIG_HIGHMEM=y
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_ATAG_DTB_COMPAT=y
CONFIG_VFP=y
CONFIG_VFPv3=y
CONFIG_NEON=y
CONFIG_PM_OPP=y
CONFIG_CMA=y
CONFIG_DMA_CMA=y
CONFIG_PRINTK_TIME=y
CONFIG_CMDLINE=""
CONFIG_CMDLINE_EXTEND=y

CONFIG_CPU_FREQ=y
CONFIG_CPUFREQ_DT=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y

CONFIG_KERNEL_MODE_NEON=y

CONFIG_APM_EMULATION=y
CONFIG_ENERGY_MODEL=y

CONFIG_MFD_SYSCON=y
CONFIG_COMMON_CLK_HI3798MV100=y
CONFIG_RESET_HISI=y

CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

CONFIG_PINCTRL=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_GPIO_PL061=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_LED_TRIGGER_PHY=y

CONFIG_I2C=y
CONFIG_I2C_HIX5HD2=y
CONFIG_SPI=y
CONFIG_SPI_PL022=y
CONFIG_SPI_SPIDEV=y

CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_HI3798MV100=y

CONFIG_HISI_FEMAC=y
CONFIG_MDIO_HISI_FEMAC=y

CONFIG_MMC=y
CONFIG_MMC_BLOCK=y
CONFIG_MMC_DW=y
CONFIG_MMC_DW_PLTFM=y
CONFIG_MMC_DW_HI3798CV200=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_EXT4_FS=y

CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_PHY_HISI_INNO_USB2=y

CONFIG_THERMAL=y
CONFIG_HISI_THERMAL=y
CONFIG_WATCHDOG=y
CONFIG_ARM_SP805_WATCHDOG=y
CONFIG_HW_RANDOM_HISTB=y

CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_SUPPORT_FILTER=y
CONFIG_MEDIA_CEC_SUPPORT=y

CONFIG_DRM=y
CONFIG_DRM_HISI_HISTB_VDP=y
CONFIG_DRM_HISI_HISTB_HDMI=y
CONFIG_DRM_HISI_HISTB_DRM=y
CONFIG_DRM_LIMA=y

CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_SIMPLE_CARD=y
CONFIG_SND_SOC_HDMI_CODEC=y
CONFIG_SND_SOC_HI3798MV100_I2S=y

CONFIG_RTL8192DU=y

CONFIG_RC_CORE=y
CONFIG_LIRC=y
CONFIG_RC_MAP=y
CONFIG_RC_DECODERS=y
CONFIG_IR_NEC_DECODER=y
CONFIG_IR_RC5_DECODER=y
CONFIG_IR_RC6_DECODER=y
CONFIG_IR_SONY_DECODER=y
CONFIG_RC_DEVICES=y
CONFIG_IR_HIX5HD2=y
CONFIG_INPUT_EVDEV=y

# Keep defconfig for hi3798mv100:
# disable unrelated drivers that default to y under ARCH_HISI.
# CONFIG_COMMON_CLK_HI3516CV300 is not set
# CONFIG_COMMON_CLK_HI3519 is not set
# CONFIG_COMMON_CLK_HI3559A is not set
# CONFIG_COMMON_CLK_HI3660 is not set
# CONFIG_COMMON_CLK_HI3670 is not set
# CONFIG_COMMON_CLK_HI3798CV200 is not set
# CONFIG_COMMON_CLK_HI6220 is not set
# CONFIG_COMMON_RESET_HI3660 is not set
# CONFIG_COMMON_RESET_HI6220 is not set
# CONFIG_HI3660_MBOX is not set
# CONFIG_HI6220_MBOX is not set
# CONFIG_HIX5HD2_GMAC is not set
# CONFIG_HW_RANDOM_HISI is not set
